.msg_box { 
    border-radius: 2px;
    background: #0f2650;
    border: none;
    border-bottom: 1px solid #687999; 
}
a.ven_under.back_ic {
    color: white;
}
input.man_tickets {
    color: #f6cf04;
}